body{
    margin:0;
    font-family:'Poppins', sans-serif; ;

}
.flex-container{
    display: flex;
}
.top-section{
    color: rgb(95, 93, 93);
    margin-top: 5%;
}
h1{
    font-weight: 900;
    font-size: 30px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 17px;
    font-weight: 900;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom:10%;
    
}
.half-width img{
    width: 90%;
    
}
.tomato-color{
    color: rgb(241, 103, 78);
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(240, 77, 49), rgb(238, 133, 150));
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: 700;
}
.mid-section{
    background-image: url(images/Frame\ 59.jpg);
    background-repeat: no-repeat;
    color: rgb(95, 93, 93);
    margin-bottom: 5%;
    background-repeat: no-repeat;
    background-size: cover;
}
.offer{
    font-weight: 700;
    font-size: 18px;
}
.mid-text{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    color: rgb(95, 93, 93);
    margin-bottom: 3%;
}
.food-item{
    width: 30%;
    box-shadow: 5px 5px 20px gray;
    border-radius: 10px;
    padding: 10px;
    margin-left: 2%;
    margin-right: 2%;
    ;
}
.food-item img{
    width: 100%;
    border-radius: 10px;
}
.item-area{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%
}
.social-area{
    box-shadow: 5px 5px 20px gray;
    border-radius: 10px;
    padding: 10px 40px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    
}
.social-item{
    padding-left: 7%;
    padding-right:7%;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 20px 0px 15px ;
}